<h1>this is the secret page</h1>
<p>you found me</p>
<img src="http://thumbpress.com/wp-content/uploads/2013/04/Funny-Cat-Pictures-with-Captions-25.jpg">
<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>